*{
	border: 1px solid red !important;
}

*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

p{
	padding: 2px;
	overflow: scroll;
}

@media only screen and (max-width: 500px){
	p {
		background-color: yellow;
	}
}

.row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.col-1{
	width: 8.33%;
	text-indent: 2px;
	overflow: scroll;
}

.col-2{
	width: 16.66%;
	text-indent: 2px;
}

.col-3{
	width: 25%;
	text-indent: 2px;
}

.col-4{
	width: 33.33%;
	text-indent: 2px;
}

.col-5{
	width: 41.66%;
	text-indent: 2px;
}

.col-6{
	width: 49.99%;
	text-indent: 2px;
}

.col-7{
	width: 58.33%; 
	text-indent: 2px;
}

.col-8{
	width: 66.66%;
	text-indent: 2px;
}

.col-9{
	width: 74.99%;
	text-indent: 2px;
}

.col-10{
	width: 83.33%;
	text-indent: 2px;
}

.col-11{
	width: 91.66%; 
	text-indent: 2px;
}

.col-12{
	width: 99.99%;
	text-indent: 2px;
}